/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_activity_activity.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_activity_activity_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_annotation_annotation.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_annotation_annotation_experimental.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_annotation_annotation_jvm.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_appcompat_appcompat.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_appcompat_appcompat_resources.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_arch_core_core_common.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_arch_core_core_runtime.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_autofill_autofill.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_browser_browser.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_cardview_cardview.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_collection_collection.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_collection_collection_jvm.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_collection_collection_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_concurrent_concurrent_futures.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_constraintlayout_constraintlayout.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_constraintlayout_constraintlayout_core.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_coordinatorlayout_coordinatorlayout.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_core_core.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_core_core_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_core_core_viewtree.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_cursoradapter_cursoradapter.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_customview_customview.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_customview_customview_poolingcontainer.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_drawerlayout_drawerlayout.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_dynamicanimation_dynamicanimation.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_emoji2_emoji2.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_emoji2_emoji2_views_helper.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_exifinterface_exifinterface.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_fragment_fragment.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_fragment_fragment_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_interpolator_interpolator.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_common.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_common_jvm.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_livedata.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_livedata_core.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_livedata_core_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_process.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_runtime_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_runtime_ktx_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_lifecycle_lifecycle_viewmodel_savedstate_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_loader_loader.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_navigation_navigation_common_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_navigation_navigation_fragment.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_navigation_navigation_runtime_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_navigation_navigation_ui.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_profileinstaller_profileinstaller.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_recyclerview_recyclerview.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_resourceinspection_resourceinspection_annotation.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_savedstate_savedstate_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_savedstate_savedstate_ktx.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_security_security_crypto.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_slidingpanelayout_slidingpanelayout.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_startup_startup_runtime.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_swiperefreshlayout_swiperefreshlayout.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_tracing_tracing_android.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_transition_transition.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_vectordrawable_vectordrawable.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_vectordrawable_vectordrawable_animated.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_versionedparcelable_versionedparcelable.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_viewpager2_viewpager2.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_viewpager_viewpager.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_window_window.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_window_window_core.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/androidx_window_window_core_jvm.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/com_google_android_material_material.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/dxcore.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/dxeditors.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/dxlistview.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/DXNavigation.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/gifdecoder.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/glide.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/libraries/maui.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/.name
/.idea/.idea.TabbedPageBottomGapRepro/.idea/AndroidProjectSystem.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/deploymentTargetSelector.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/indexLayout.xml
/.idea/.idea.TabbedPageBottomGapRepro/.idea/vcs.xml
